</div>

<div class="footer-padding"></div>
  <div class="footer">
    <p class="mt-5 mb-3 text-muted" style="font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 12px;">Copyright &copy; 2021 Jevin Kosasih</p>
  </div>
</div>
</body>
</html>
