<%- include("partials/header"); -%>

<div class="jumbotron jumbotron-fluid" style="background-color: inherit">
  <div class="container">
    <h1 class="display-4" style="font-weight: 600">Awesome!</h1>
    <p class="lead">You've been successfully subscribed to the newsletter. Stay tuned for lots of amazing content!</p>
  </div>
</div>

<%- include("partials/footer"); -%>
